<div role="main" class="main-content">

    <div class="page-content container container-plus">
        <div class="card acard mt-2 mt-lg-3">
            <div class="card-header">
                <h3 class="card-title text-125 text-primary-d2">
                    <i class="far fa-edit text-dark-l3 mr-1"></i>
                    Valores de configuracion - {{ businessConfigGroup.GroupName || businessConfigGroup.GroupCod }}
                </h3>
            </div>

            <div class="card-body px-3 pb-1">
                <form class="mt-lg-3" autocomplete="off">

                    <div class="row mb-3">
                        <div class="col-sm-3 col-form-label text-sm-right pr-0">
                            <label class="mb-0">Grupo</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control col-sm-8 col-md-6" readonly
                                [value]="businessConfigGroup.GroupCod + ' - ' + businessConfigGroup.GroupName">
                        </div>
                    </div>

                    <div class="row" *ngIf="dynamicFields.length > 0">
                        <div class="col-sm-6" *ngFor="let field of dynamicFields">
                            <div class="form-group row">
                                <div class="col-sm-4 col-form-label text-sm-right pr-0">
                                    <label class="mb-0">{{ field.label }}</label>
                                </div>

                                <div class="col-sm-8">
                                    <input [type]="field.type"
                                        class="form-control"
                                        [(ngModel)]="businessConfig[field.column]"
                                        name="{{ field.column }}">
                                    <div class="text-80 text-grey-m1 mt-1" *ngIf="field.key">
                                        {{ field.key }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="alert alert-warning" *ngIf="dynamicFields.length === 0">
                        No hay campos habilitados para este grupo.
                    </div>

                    <div class="mt-4 border-t-1 bgc-secondary-l4 brc-secondary-l2 py-35 mx-n25">
                        <div class="offset-md-3 col-md-9 text-nowrap">
                            <a class="btn btn-info btn-bold px-4" type="button" (click)="Save()">
                                <i class="fa fa-check mr-1"></i>
                                Guardar
                            </a>

                            <a class="btn btn-outline-lightgrey btn-bgc-white btn-bold ml-2 px-4"
                                type="button"
                                (click)="goBack()">
                                <i class="fa fa-undo mr-1"></i>
                                Volver
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <div class="card dcard">
                    <div class="card-body px-1 px-md-3">
                        <div class="d-flex justify-content-between flex-column flex-sm-row mb-3 px-2 px-sm-0">
                            <h3 class="text-125 pl-1 mb-3 mb-sm-0 text-secondary-d4">
                                Valores configurados
                            </h3>
                        </div>

                        <table id="simple-table"
                            class="mb-0 table table-borderless table-bordered-x brc-secondary-l3 text-dark-m2 radius-1 overflow-hidden">
                            <thead class="text-dark-tp3 bgc-grey-l4 text-90 border-b-1 brc-transparent">
                                <tr>
                                    <th>Orden</th>
                                    <th *ngFor="let field of dynamicFields">{{ field.label }}</th>
                                    <th>Estado</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>

                            <tbody class="mt-1">
                                <tr class="bgc-h-yellow-l4 d-style" *ngFor="let item of businessConfigList">
                                    <td>{{ item.ConfigCorr }}</td>
                                    <td *ngFor="let field of dynamicFields">
                                        {{ item[field.column] || '' }}
                                    </td>
                                    <td>
                                        <span [ngClass]="item.Status === 'A' ? 'badge badge-sm bgc-info-d1 text-white pb-1 px-25' : 'badge badge-sm bgc-red-d1 text-white pb-1 px-25'">
                                            {{ item.Status === 'A' ? 'Activo' : 'Inactivo' }}
                                        </span>
                                    </td>
                                    <td>
                                        <a
                                            class="mx-2px btn radius-1 border-2 btn-xs btn-brc-tp btn-light-secondary btn-h-lighter-success btn-a-lighter-success"
                                            href="/enterprise/businessconfiggroup/pages/createbusinessconfig?GroupCod={{ item.GroupCod }}&ConfigCorr={{ item.ConfigCorr }}">
                                            <i class="fa fa-pencil-alt"></i>
                                        </a>
                                        <a
                                            *ngIf="item.Status !== 'A'"
                                            class="mx-2px btn radius-1 border-2 btn-xs btn-brc-tp btn-light-secondary btn-h-lighter-success btn-a-lighter-success"
                                            href="#"
                                            (click)="$event.preventDefault(); enable(item)">
                                            <i class="fa fa-check"></i>
                                        </a>
                                        <a
                                            *ngIf="item.Status === 'A'"
                                            class="mx-2px btn radius-1 border-2 btn-xs btn-brc-tp btn-light-secondary btn-h-lighter-danger btn-a-lighter-danger"
                                            href="#"
                                            (click)="$event.preventDefault(); disable(item)">
                                            <i class="fa fa-ban"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
